#heading{
    
}

#pattern{
    background-image: url(/Users/manuelgerolin/ManuelCorsi/Boolean55/html-css-booleaner/html-css-booleaner/img/pattern.png);
    background-size:contain;
    background-repeat: repeat-x;
    background-color: cornflowerblue;
    width: auto;
    height: 100px;
}

#logo {
    width: auto%;
    height: 50%;
    margin-top: 40pt;
    margin-right: 0pxt;
}




#title{
    font-size: 30pt;
    margin-bottom: 5px;
}

#sub-title{
    /* comando usato nel caso in cui avessi dovuto dividere le due parole display: inline;*/
    font-size: 13pt;
    font-weight: normal;
    margin-top: auto;
    margin-bottom: 5px ;
}

#date{
    font-weight: lighter;
    font-size: 10pt;
    margin-top: auto;

}

#captions{
    font-size: 10px;
    font-weight: lighter;
    line-height: 1px;
}

#central-line{
    background-color: white;
}

#pie{
    color: rgb(153, 153, 153);
    margin-bottom: 10px;
}

#img-monitor{
    margin: 0px;
    background-image: url(/Users/manuelgerolin/ManuelCorsi/Boolean55/html-css-booleaner/html-css-booleaner/img/monitor.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 140%;
    font-weight: normal;
    line-height: 30px ;
    text-align:left;
    width: 250px;
    height: 180px;
}

#img-plaugeinc{ 
    margin: 0px;
    margin-top: 8px;
    background-image: url(/Users/manuelgerolin/ManuelCorsi/Boolean55/html-css-booleaner/html-css-booleaner/img/graph.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 140%;
    font-weight: normal;
    line-height: 30px;
    text-align:left;
    width: 250px;
    height: 180px;
}




mark{
    background-color: yellow;
}

table{
    table-layout: fixed;
    text-align: left;
    width: 100%;
    font-size: 13px;
    border-collapse: collapse; /*serve ad eliminare i bordi nella tabella*/
}

th{
    color: white;
    background-color: rgb(96, 183, 233);
}

tr{
    background-color: rgb(143, 242, 255);
}
